<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<style>
		.sandbox {
			width:500px; height:500px;
		}
	</style>
	<script src="{{bower}}/jquery/dist/jquery.min.js"></script>
	<script src="{{bower}}/kist-loader/dist/kist-loader.js"></script>
	<script src="{{compiled}}/index.js"></script>
</head>
<body>
